* {
  box-sizing: border-box;
  font-family: url("/assets/fonts/ms-sans-serif.otf");
  font-size: 13px;
  overflow: hidden;
}

body {
  background-color: #226666;
}

a {
  text-decoration: none;
  color: black;
}

/*Window style*/

.folders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.folder {
  display: table;
  position: absolute;
  display: none;
  opacity: 0;
  width: 40%;
  top: 30%;
  left: 30%;
  min-height: 30vh;
  background: #f5f5f5;
  border: 1px solid #ccc;
  box-shadow: 12px 13px 0px -8px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 12px 13px 0px -8px rgba(0, 0, 0, 1);
  -moz-box-shadow: 12px 13px 0px -8px rgba(0, 0, 0, 1);
  resize: both;
  overflow: auto;
}

.button {
  min-width: 80px;
  max-width: 100px;
  text-align: center;
  color: #f9f9f9;
}

.link {
  min-width: 100px;
}

.button > img {
  width: 100%;
}
.button:hover > img {
  opacity: 0.8;
}

.button:focus {
  background-color: blue;
}

.folder-content {
  display: table;
  margin: 2%;
  border-spacing: 10px;
}

.folder.show {
  display: block;
  opacity: 1;
}

.folder-item {
  display: table-cell;
  margin: 5px;
  width: auto;
  text-align: center;
  vertical-align: middle;
  color: black;
}

.folder-item p {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  opacity: 0.8;
  font-weight: bolder;
}

.active {
  background-color: #026cae;
  opacity: 0.8;
  color: #f9f9f9;
}

img {
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Universal support since 2021   */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.title-bar {
  width: 100%;
}

#journalModal {
  display: none;
}

#journalModal.show {
  position: absolute;
  display: block;
  top: 5%;
  margin-left: 30%;
  opacity: 1;
  z-index: 1000;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.journalButtons {
  position: absolute;
  z-index: 1001;
  left: 35%;
}

.journalContent img {
  max-width: 100%;
  height: auto;
  max-height: 800px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  height: auto;
}

#journalModal.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  text-align: center;
}

#journalModal.fullscreen .journalContent img {
  border-radius: 0;
  box-shadow: none;
  height: 100%;
  width: auto;
  max-height: 100vh;
}

#journalModal.fullscreen .journalButtons {
  text-align: center;
  width: 100vw;
  left: 0;
}

#journalModal:focus {
  outline: none;
}

@media screen and (max-width: 700px) {
  .folder {
    position: absolute;
    top: 40vh;
    left: 0;
    height: 60vh;
    width: 100%;
  }
  .button {
    max-width: 80px;
  }

  .folders {
    position: absolute;
    top: 10vh;
  }

  #journalModal.show {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  #journalModal .title-bar {
    display: none;
  }

  .journalButtons {
    display: none;
  }

  .journalContent img {
    height: 100%;
    margin-top: 100px;
    border-radius: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
  }
}
